<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Index Page</title>
    </head>
    <body>

        <div layout:fragment="content" class="container mySpace">

            <div class="jumbotron">
                <!-- lorem + Tab  to auto generate the text-->
                <!-- lorem15 + Tab  to auto generate the text-->
                <!-- div + Tab to auto generate the tag: <div></div> -->
                <!-- link + Tab to auto generate the tag: <link rel="stylesheet" href="">-->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus eos ex facere minus odit possimus quo
                    repellendus totam voluptatibus.</p>
            </div>

        </div>

    </body>
</html>